.jumbotron {
  /* foto profile */
  padding-top: 5rem;
  background-color: #fcc35f;
}

#Projects {
  background: #fcc35f url('wave-yellow.svg') ;
}

#Projects {
  background-color: #fcc35f;
}

section {
  padding-top: 5rem ;
}

